body {
  background-color:gray;
  width:80%;
}
div {
  background-color:lightblue;
  width:80%;
  }
  p {
    color:green;
    background-color:#ffa8a8;
    font-family:Arial, Helvetica, sans-serif;
  }
  h1 {
    color:red;
    background-color:blue;
    font-family:"Lucida Console", "Courier New", monospace;
  }
  h2 {
    color:blue;
    background-color:green;
    font-family: "Times New Roman", Times, serif;
  }
  h3 {
    background-color:yellow;
    font-family:"Copperplate", fantasy;
  }
  footer {
    font-style:italic;
    background-color:darkorange;
  }
main {
  background-color:mediumpurple;
}